// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

body,html {
  -webkit-font-smoothing: antialiased;
}

// Undo hyphenation
td {
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  border-collapse: collapse !important;
}

.button a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header {

  & .container {
    background-color: $white;
  }

  & img {
    display: block;
    margin: 20px auto;
    width: 89px;
    height: auto;
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    & img {
      display: block!important;
      margin: 20px auto!important;
      width: 89px!important;
      height: auto!important;
    }
  }

}

.headlines {

  & h1 {
    margin: 0 40px 10px;
    text-align: center;
    font-family: cormorant, times, serif;
    font-size: 60px;
    line-height: 1;
    color: $brown;
    letter-spacing: -2px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 48px!important;
      margin: 0!important;
      margin-bottom: 10px!important;
      hyphens: auto!important;
    }
  }

  & h3 {
    margin: 0 40px!important;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.3;
    font-size: 27px!important;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 23px!important;
      margin: 0!important;
      font-weight: 500!important;
    }
  }

  & .columns {
    padding-bottom: 0;
  }

}

.buttons {
  & .button {
    margin-bottom: 0;
    & a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px!important;
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 10px!important;
      }
    }
  }
  & .columns {
    padding-bottom: 0;
  }
}

.info {
  & hr {
    border: 0;
    height: 1px;
    background-color: $primary-color;
  }
  & p {
    text-align: center;
    margin-bottom: 0;
  }
  & .columns {
    padding-bottom: 0;
  }
}


.bodycopy {

  & h2 {
    margin: 0 100px;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.3;
    color: $brown;
    font-size: 32px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 28px!important;
      margin: 0!important;
      margin-bottom: 10px!important;
      hyphens: auto!important;
    }
  }

  & h3 {
    margin: 0 40px!important;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.3;
    font-size: 25px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 23px!important;
      margin: 0!important;
      font-weight: 500!important;
    }
  }

  & .columns {
    padding-bottom: 0;
  }

}

.quote {

  & p {
    margin: 0 100px;
    text-align: center;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 0 30px!important;
    }
  }

  & p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  & .avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    $height: 100px;
    width: $height;
    height: $height;
    margin: auto;
    margin-top: -($height*.5);
    position: relative;
    z-index: 2;
  }

  & .callout {
    margin: 0px;
    text-align: center;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 0!important;
    }
  }

  & .callout {
    position: relative;
    z-index: 2;
    background: #A08059;
    & .callout-inner {
      border: 0;
      padding: 65px;
      background-color: transparent;
      color: #fff;
      font-family: cormorant, times, serif;
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: -1px;
      position: relative;
      text-align: center;
      z-index: 2;
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 1.75rem!important;
        padding: 35px!important;
        padding-bottom: 75px!important;
        letter-spacing: 0px!important;
      }
    }
    &::before {
      content: "❞";
      font-family: times, serif;
      display: block;
      position: absolute;
      top: -30px;
      right: 0;
      margin-top: -0px;
      font-size: 24rem;
      line-height: 1;
      z-index: 1;
      color: rgba(0,0,0,.1);
    }
  }

}

.paragraphs {

  & p {
    margin: 0 100px;
    text-align: center;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 0 30px!important;
    }
    &.quote {
      font-size: 1.35rem;
      font-weight: 500;
      font-family: cormorant, times, serif;
    }
  }

  & hr.horizontal-divider {
    margin-left: 100px;
    margin-right: 100px;
  }

  & h2 {
    margin: 0 100px;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.1;
    letter-spacing: -1px;
    font-size: 42px!important;
    color: $brown;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 26px!important;
      margin: 0px!important;
    }
  }

  & h3 {
    margin: 0 40px!important;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.1;
    font-size: 28px;
    color: $brown;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 24px!important;
      margin: 0!important;
    }
  }

  & h4 {
    margin: 10px 0 10px;
    text-align: center;
    font-family: roboto, times, serif;
    line-height: 1.3;
    color: $brown;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 13px!important;
      margin: 0!important;
      margin-bottom: 10px!important;
      hyphens: auto!important;
    }
  }

  .button {
    margin: 10px 0;;
  }

}

.socials {

  & h4 {
    margin: 0 ;
    text-align: center;
    font-family: roboto, times, serif;
    line-height: 1.3;
    color: $brown;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 13px!important;
      margin: 0!important;
      margin-bottom: 10px!important;
      hyphens: auto!important;
    }
  }

  & .columns {
    padding-bottom: 0;
  }

  & img {
    @media only screen and (max-width: #{$global-breakpoint}) {
      display: block!important;
      height: 22px!important;
      width: auto!important;
    }
  }

}

.order {
  & h3 {
    margin: 0 40px!important;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.1;
    font-size: 28px;
    color: $brown;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 24px!important;
      margin: 0!important;
    }
  }
}

.tables {
  h5 {
    text-align: center;
  }
  p {
    margin-bottom: 0;
    border-top: 1px solid #eee;
    padding: 5px 0;
    text-align: center;
   }
}

.footer {

  & .container {
    background-color: $white;
  }

  & .menu-item {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $medium-gray!important;
    }
  }

}

.vertical-divider {
  border: 0;
  background-color: lighten($primary-color, 20%);
  width: 1px;
  height: 60px;
  margin: 0 auto;
}

.horizontal-divider {
  border: 0;
  margin: 15px 0;
  background-color: #eee;
  height: 1px;
}

.line-items {
  .callout-inner {
    margin: 0 100px;
    text-align: left;
    border: 0!important;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 0 30px!important;
    }
  }
  h4 {
    text-align: left;
    &.gray {
      color: #999;
    }
  }
  .row .columns {
    padding-bottom: 0;
  }
}