// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

body,html {
  -webkit-font-smoothing: antialiased;
}

.header {

  & .container {
    background-color: $white;
  }

  & img {
    display: block;
    margin: 20px auto;
    width: 89px;
    height: auto;
  }

  @media only screen and (max-width: #{$global-breakpoint}) {
    & img {
      display: block!important;
      margin: 20px auto!important;
      width: 89px!important;
      height: auto!important;
    }
  }

}

.headlines {

  & h1 {
    margin: 0 40px;
    text-align: center;
    font-family: cormorant, times, serif;
    font-size: 69px;
    line-height: 1;
    color: $brown;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 48px!important;
      margin: 0!important;
      margin-bottom: 10px!important;
      hyphens: auto!important;
    }
  }

  & h3 {
    margin: 0 40px!important;
    text-align: center;
    font-family: cormorant, times, serif;
    line-height: 1.3;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size: 21px!important;
      margin: 0!important;
      font-weight: 500!important;
    }
  }

  & .columns {
    padding-bottom: 0;
  }

}

.buttons {
  & .button {
    margin-bottom: 0;
    & a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px!important;
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 10px!important;
      }
    }
  }
  & .columns {
    padding-bottom: 0;
  }
}

.info {
  & hr {
    border: 0;
    height: 1px;
    background-color: $primary-color;
  }
  & p {
    text-align: center;
    margin-bottom: 0;
  }
  & .columns {
    padding-bottom: 0;
  }
}
