<wrapper class="info">
  <container>
    <spacer size="30"></spacer>
    <row>
      <columns large="5" small="4"></columns>
      <columns large="2" small="4"><hr></columns>
      <columns large="5" small="4"></columns>
    </row>
    <spacer size="10"></spacer>
    <row>
      <columns large="3" small="2"></columns>
      <columns large="6" small="8">
        <p>
          Questions? Reply to this email or contact us at <a href="mailto:info@sonnecare.com">info@sonnecare.com</a>
        </p>
      </columns>
      <columns large="3" small="2"></columns>
    </row>
    <spacer size="10"></spacer>
    <row>
      <columns large="5" small="4"></columns>
      <columns large="2" small="4"><hr></columns>
      <columns large="5" small="4"></columns>
    </row>
    <spacer size="30"></spacer>
  </container>
</wrapper>