<wrapper class="socials">
  <container>
    <center>
      <h4>Follow Us on Social Media</h4>
      <menu>
        <item href="http://instagram.com/sonneskincare" target="_blank"><img src="assets/img/instagram.png" height="22" width="22"></item>
        <item href="http://facebook.com/sonnecare" target="_blank"><img src="assets/img/facebook.png" height="22" width="22"></item>
        <item href="http://twitter.com/sonnecare" target="_blank"><img src="assets/img/twitter.png" height="22" width="22"></item>
        <item href="http://medium.com/sonnecare" target="_blank"><img src="assets/img/medium.png" height="22" width="22"></item>
      </menu>
     </center>
     <spacer size="40"></spacer>
  </container>
</wrapper>